<html>
	<head>
		<title>HTML Online Editor Sample</title>
		<style type="text/css">
body
{
background-color:#d0e4fe;
}		</style>
	</head>
	<body>
		<h1 style="text-align: center;">
			<span style="font-family:comic sans ms,cursive;">Extra-Terrestrial Rock Paper Scissors</span></h1>
		<hr />
		<hr />
		<h3 style="text-align: center;">
			<span style="font-family:comic sans ms,cursive;">Setup</span></h3>
		<hr />
		<hr />
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">You are a science student, who is always fascinated by outer space, and are always wondering whether WE are alone in the universe. As current technology cannot help you find your answer, you fall back to superstition, and scheme out a very &#39;clever&#39; plan.</span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">For generations now, humans have it that, making a wish to a shooting star, will grant that wish. Because you probably cannot wait for technology to advance (as it might take thousands of years), you will rather wait for the next shooting start. So you begin your Star Hunt!</span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Every night, you camp in on the savanna grass field, just contemplating the stars, and hoping to find one that &#39;shoots&#39;. </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Sure enough, your patience paid off, and one night, you spotted a shooting star. </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">You did not only want to know if WE were alone, but also, how intelligent the other species out of earth were if they existed. A way you thought of to test their intelligence, was to play an IQ game with them. Short on time, you could only think about Rock-Paper-Scissors (RPS). So you went on: </span></p>
		<p dir="ltr" style="margin-left: 40px;">
			<span style="font-family:comic sans ms,cursive;">&quot;Oh shooting star, I wish you take me to the most technologically advanced extraterrestrial specie in the Universe, for just enough time for me to finish playing <em><strong>some games</strong></em> of Rock-Paper-Scissors&quot; </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Of course, you didn&#39;t expect it to work but guess what... IT DID! </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">You got teleported into the star, and was heading towards Planet MIT-21. </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">On the way however, the star tells you it will bring you to the sole planet which knows about RPS. You, all curious, ask for more details on the planet. The star gladly summarizes the following to you: </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">&quot;There are 4 main groups of peoples on planet MIT-21: </span></p>
		<p dir="ltr">
			<span style="font-family: 'comic sans ms', cursive;">the Rockers, who choose Rock 70% of the time, and the other 2 randomly,</span></p>
		<p dir="ltr">
			<span style="font-family: 'comic sans ms', cursive;">the Paperers, who choose Paper 80% of the time,&nbsp;</span><span style="font-family: 'comic sans ms', cursive;">and the other 2 randomly,&nbsp;</span></p>
		<p dir="ltr">
			<span style="font-family: 'comic sans ms', cursive;">the Scissorers, who choose Scissor 90% of the time, and the other 2 randomly, and</span></p>
		<p dir="ltr">
			<span style="font-family: 'comic sans ms', cursive;">the Normals, who have no preference. FURTHERMORE</span></p>
		<p dir="ltr">
			<span style="font-family: 'comic sans ms', cursive;">MIT-21 inhabitants can switch consciousnesses amongst themselves. So you might be playing with a Rocker at the start, but that Rocker switches consciousness with a Paperer, at some point in the game. The switch happens according to the following affinity table: (the higher the affinity, the more likely it is for the switch to occur)</span></p>
		<p style="text-align: center;">
			<span style="font-family:comic sans ms,cursive;">MIT-21 Affinity Table</span></p>
		<table align="center" border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
			<caption>
				&nbsp;</caption>
			<thead>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="row">
						&nbsp;</th>
					<th scope="col">
						&nbsp;</th>
					<th scope="col">
						TO</th>
					<th scope="col">
						&nbsp;</th>
					<th scope="col">
						&nbsp;</th>
				</tr>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="row">
						*</th>
					<th scope="col">
						<span style="font-family:comic sans ms,cursive;">Rocker</span></th>
					<th scope="col">
						<span style="font-family:comic sans ms,cursive;">Paperer</span></th>
					<th scope="col">
						<span style="font-family:comic sans ms,cursive;">Scissorer</span></th>
					<th scope="col">
						<span style="font-family:comic sans ms,cursive;">Normal</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="row">
						<span style="font-family:comic sans ms,cursive;">Rocker</span></th>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">60%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">15%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">15%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">10%</span></td>
				</tr>
				<tr>
					<th scope="row">
						FROM</th>
					<th scope="row">
						<span style="font-family:comic sans ms,cursive;">Paperer</span></th>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">10%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">60%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">20%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">10%</span></td>
				</tr>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="row">
						<span style="font-family:comic sans ms,cursive;">Scissorer</span></th>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">15%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">15%</span></td>
					<td style="text-align: center;">
						<font face="comic sans ms, cursive">60%</font></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">10%</span></td>
				</tr>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="row">
						<span style="font-family:comic sans ms,cursive;">Normal</span></th>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">1%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">1%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">1%</span></td>
					<td style="text-align: center;">
						<span style="font-family:comic sans ms,cursive;">97%</span></td>
				</tr>
			</tbody>
		</table>
		<p dir="ltr">
			<font face="comic sans ms, cursive">After getting all the information, the star drops you off at a bar, and where you challenge a loner to a friendly game of RPS.</font></p>
		<p dir="ltr">
			&nbsp;</p>
		<hr />
		<hr />
		<h3 style="text-align: center;">
			<font face="comic sans ms, cursive">The Game</font></h3>
		<hr />
		<hr />
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Scenario </span> 
			<span id="scenario" style="font-family:comic sans ms,cursive;">R</span></p>
		<hr />
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">You start the game, and he opens tells you he is currently a Rocker.</span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Play:&nbsp;</span><input name="rockBtn" type="button" value="Rock" onclick="play('R')"/><input name="paperBtn" type="button" value="Paper"  onclick="play('P')"/><input name="scissorBtn" type="button" value="Scissor"  onclick="play('S')"/></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">#round :</span>
			<span id="round" style="font-family:comic sans ms,cursive;">1</span>
			<span style="font-family:comic sans ms,cursive;"> out of 20:</span></p>
		<table id="scoreTable" align="left" border="1" cellpadding="1" cellspacing="1" style="width: 600px;">
			<thead>
				<tr>
					<th scope="row">
						&nbsp;</th>
					<th scope="col">
						01</th>
					<th scope="col">
						02</th>
					<th scope="col">
						03</th>
					<th scope="col">
						04</th>
					<th scope="col">
						05</th>
					<th scope="col">
						06</th>
					<th scope="col">
						07</th>
					<th scope="col">
						08</th>
					<th scope="col">
						09</th>
					<th scope="col">
						10</th>
					<th scope="col">
						11</th>
					<th scope="col">
						12</th>
					<th scope="col">
						13</th>
					<th scope="col">
						14</th>
					<th scope="col">
						15</th>
					<th scope="col">
						16</th>
					<th scope="col">
						17</th>
					<th scope="col">
						18</th>
					<th scope="col">
						19</th>
					<th scope="col">
						20</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						<span style="font-family: 'comic sans ms', cursive;">Your Sequence:</span></th>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<th scope="row">
						<span style="font-family: 'comic sans ms', cursive;">His &nbsp; Sequence:</span></th>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
				<tr>
					<th scope="row">
						<span style="font-family: 'comic sans ms', cursive;">Result &nbsp;so &nbsp;far:</span></th>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
					<td>
						&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Based on the results above, could you infer what consciousnesses you were dealing with at each round, </span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">eg RRRPPNN for Rocker from round 1 - 4, Paperer from round 5 to 6, ...</span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Your thought:&nbsp;<input maxlength="20" id="userGroupsGuessTxt" name="userGroupsGuessTxt" type="text" /></span>&nbsp;<input name="showGroupsBtn" type="button" value="Submit and show me the answer" /><p id="answer"/></p>
		<p dir="ltr">
			<input name="nextScenarioBtn" type="button" value="Next Scenario" /></p>
		<p dir="ltr">
			&nbsp;</p>
		<hr />
		<hr />
		<h3 style="text-align: center;">
			<span style="font-family:comic sans ms,cursive;">Conclusions</span></h3>
		<hr />
		<hr />
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Of course, having just 20 trials per scenario isn&#39;t enough for the fan you are. Imagine you kept playing over and over, regardless of where you start, what do you expect to be the stable group and guess after such a long time?</span></p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">Your thought:&nbsp;<input maxlength="1" name="userGuessStableTxt" type="text" />&nbsp;<input name="showStableBtn" type="button" value="Submit and show me the answer" /></span></p>
		<p dir="ltr">
			&nbsp;</p>
		<p dir="ltr">
			<span style="font-family:comic sans ms,cursive;">You eventually got bored, and wanted to leave. Just as the shooting star promised, you were instantly teleported back to Planet Earth!</span></p>
		<hr />
		<hr />
		<hr />
		<h3 style="text-align: center;">
			<span style="font-family:comic sans ms,cursive;">THE END&nbsp;<img alt="smiley" src="http://www.quackit.com/html/online-html-editor/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" /></span></h3>
		<hr />
		<div>
			<hr />
			<hr />
		</div>
		
		<!-- Functions!!! --->
		<script>

function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false);
    xmlHttp.send();
    return xmlHttp.responseText;
}
var hash=1;
String.prototype.hashCode = function(){
	if (Array.prototype.reduce){
		return this.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);              
	} 
	var hash = 0;
	if (this.length === 0) return hash;
	for (var i = 0; i < this.length; i++) {
		var character  = this.charCodeAt(i);
		hash  = ((hash<<5)-hash)+character;
		hash = hash & hash; // Convert to 32bit integer
	}
	return hash;
}
function setHash(){
	hash = new String(Date.now());
	hash = hash.hashCode();
}
function getGuessAnswer(index){
	var s = new String(document.getElementById("scenario").innerHTML);
	var req = "http://mj-server.mit.edu/play/get/?id="+hash+"&scenario="+s+"&index="+index
	return httpGet(req);

}

function play(guess){
	var count = parseInt(document.getElementById("round").innerHTML)
	document.getElementById("round").innerHTML = count+1>=21?21:count+1;
	if (count===21) return
	var ans = ans = getGuessAnswer(count-1);
	document.getElementById("scoreTable").rows[1].cells[count].innerHTML = guess;
	document.getElementById("scoreTable").rows[2].cells[count].innerHTML = ans;
	if(ans===guess){
		var elem = document.getElementById("scoreTable").rows[3].cells[count];
		elem.innerHTML = "P";
		elem.style.color = "Blue";
	}else{
		var elem = document.getElementById("scoreTable").rows[3].cells[count];
		elem.innerHTML = "F";
		elem.style.color = "Red";
	}
}

function loadNextScenario(){

}





window.onload = function(){
   setHash();
   httpGet("http://mj-server.mit.edu/play/create/?id="+hash)
};













</script>

		
		
		
		

		
		
		
	</body>
</html>